.uk-section.uk-section-expand.uk-padding-remove-top
  .uk-padding(class="uk-hidden@l")
    h2.uk-heading-primary Здравствуйте, #{Ses.user.FirstName}!
    h4 Вы с нами с #{Ses.user.date_registered.getDate()}/#{Ses.user.date_registered.getMonth()}/#{Ses.user.date_registered.getFullYear()}
  .uk-padding-large.uk-position-relative.uk-position-z-index.uk-float-right(class="uk-width-1-2@l uk-width-1-1@m")
      ul.uk-switcher.switch
        li
          #orders
            ul.uk-list
              each val, i in orders
                li
                  .uk-card-body.uk-card-default.uk-margin-large-bottom.uk-box-shadow-large(class="")
                    .uk-grid
                      .uk-width-1-1
                        h2.uk-heading-divider Ваш заказ № #{orders[i].number}
                        h3.uk-margin.uk-text-capitalize #{orders[i].name.name}
                      .uk-width-1-2.uk-margin-top
                        h4.uk-margin-small.uk-text-meta Дата исполнения: 
                        h4.uk-margin-small #{orders[i].date_desire.toLocaleString('ru', {year: 'numeric', month: 'numeric', day: 'numeric'})}
                      .uk-width-1-2.uk-margin-top
                        h4.uk-margin-small.uk-text-meta Время исполнения: 
                        h4.uk-margin-small #{orders[i].time_desire}
                      .uk-width-1-2.uk-margin-top
                        h4.uk-margin-small.uk-text-meta Место исполнения:
                        if orders[i].place == 'master'
                          h4.uk-margin-small у мастера
                        else 
                          h4.uk-margin-small у клиента
                      .uk-width-1-2.uk-margin-top   
                        h4.uk-margin-small.uk-text-meta Район:
                        h4.uk-margin-small #{orders[i].address.district} 
                          
                    h4.uk-margin-remove-bottom Предложения по вашему заказу:
                    ul.uk-list
                      each val, o in orders[i].votes
                        li 
                          a.uk-link(onclick="show_master('master_card" + val.master.id + "')") #{val.master.FirstName} #{val.master.LastName}, #{val.price} руб.
                          div(id="master_card" + val.master.id uk-modal)
                            .uk-modal-dialog.uk-modal-body
                              h2 #{val.master.FirstName} #{val.master.LastName}
                              p Мастер готов выполнить ваш заказ за #{val.price} руб.
                              h3.uk-margin-remove-bottom О мастере:
                              .uk-grid
                                .uk-width-1-2
                                  h4.uk-margin-remove Услуги мастера:
                                  div.uk-margin-remove-top#master_card_data
                                    ul.uk-margin-remove-top.uk-list
                                .uk-width-1-2
                                  p.uk-text.meta Телефон:
                                  h3.uk-margin-remove #{val.master.PhoneNumber}
                              button.uk-button Выбрать мастера
                        
        li
          if Ses.user.order_status == 'inactive'
            .uk-card.uk-card-default.uk-card-body
              form#new_order.uk-grid.uk-grid-small(method="post" action='/new_order' uk-grid)
                legend.uk-legend Новый заказ
                p.uk-text-media Здесь Вы можете сделать заказ на стрижку, маникюр, педикюр и другие услуги по уходу за собой
                .uk-width-1-1
                  select.uk-input(type="text" placeholder="Я хочу сделать..." name="OrderName" required)
                    each val, i in uslugi
                      optgroup(label=val.name value=uslugi[i].id)
                        each val, j in uslugi[i].sub_cat
                          option(value=val.id)=val.name
                label.uk-width-1-1 Выберите дату и время:
                .uk-width-1-2.uk-margin-remove-top
                  .uk-inline
                    input.uk-input(type="text" placeholder="Дата" data-toggle="datepicker" name="OrderDate")
                    span.uk-form-icon.uk-form-icon-flip(uk-icon="icon:calendar")
                .uk-width-1-2.uk-margin-remove-top
                  .uk-inline
                    span.uk-form-icon.uk-form-icon-flip(uk-icon="icon:time")
                    select.uk-form-width-medium.uk-select(placeholder="Время" name="OrderTime")
                      -for(var t = 8; t < 23; t++){
                      option= t + ':00'
                      -}
                label.uk-margin-large-right Место встречи с мастером: 
                label.uk-margin-remove-top.uk-margin-right #[input.address.uk-radio(type="radio" name="place" value="client" checked="checked")] у меня
                label.uk-margin-remove-top #[input.uk-radio(type="radio" name="place" value="master")] у мастера
                #address.uk-width-1-1
                  select#city.uk-select.uk-width-1-2(name="city" default="Вронеж")
                    option Воронеж
                    option Бобров
                    option Богучар
                    option Бутурлиновка
                    option Калач
                    option Лиски
                    option Нововоронеж
                    option Новохопёрск
                    option Острогожск
                    option Павловск
                    option Поворино
                    option Россошь
                    option Семилуки
                    option Эртиль    
                  select#my_region.uk-select.uk-width-1-2(name="district")
                    option Железнодорожный
                    option Коминтерновский
                    option Левобережный
                    option Ленинский
                    option Советский
                    option(selected="selected") Центральный
                #about.uk-width-1-1
                  textarea.uk-textarea(rows="3" placeholder="Опишите подробнее заказ")
                .uk-width-1
                  button.uk-button(type="submit") Дальше
          else
            h2 Чтобы создать новый заказ завершите предыдущий
        li
          .uk-container-small().uk-padding-large.uk-background-muted
            h2.uk-heading-divider Редактировать профиль
            form(method="post" action='/register' + Ses.user.id enctype="multipart/form-data")
              .uk-margin
                input.uk-input(type="text" placeholder="Имя" name="FirstName" value=Ses.user.FirstName)        
              .uk-margin
                input.uk-input(type="text" placeholder="Фамилия" name="LastName" value=Ses.user.LastName)
              .uk-margin
                input.uk-input(type="text" placeholder="Телефон" name="PhoneNumber" value=Ses.user.PhoneNumber)
              .uk-margin
                select.uk-select(name="city")
                  option Воронеж
                  option Бобров
                  option Богучар
                  option Бутурлиновка
                  option Калач
                  option Лиски
                  option Нововоронеж
                  option Новохопёрск
                  option Острогожск
                  option Павловск
                  option Поворино
                  option Россошь
                  option Семилуки
                  option Эртиль    
                  textarea.uk-textarea(rows="5" name="about" placeholder="Расскажите нам о себе")
              button.uk-button(type="submit") Изменить
  .uk-panel(style="width:100% !important")
    .uk-padding(class="uk-visible@l")
      h2.uk-heading-primary Здравствуйте, #{Ses.user.FirstName}!
      h4 Вы с нами с #{Ses.user.date_registered.getDate()}/#{Ses.user.date_registered.getMonth()}/#{Ses.user.date_registered.getFullYear()}
    #switch1.uk-switcher
      #imgback.uk-section.uk-section-cover.uk-animation-fade(style="width:100% !important; height:100%; background-attachment: fixed; background-position: right center; background-image: url(/images/desk1.jpg)")
      #imgback.uk-section.uk-section-cover.uk-animation-fade(style="width:100% !important; height:100%; background-attachment: fixed; background-position: right center; background-image: url(/images/industry.jpg)")
//- Here must use CASE
//- each val, i in orders
//-   li= orders[i].name.name + ',' + orders[i].master + ', ' + orders[i].satus
//-     ul
//-       if orders[i].OrderStatus == 'new'
//-         each val, o in orders[i].OrderVotes
//-           li= orders[i].votes[o]
//-             form(method='post', action="/client_vote/" + orders[i].OrderVotes[o] + '.' + orders[i].id)
//-               input(type='submit', value='Vote')
