extends layout

block content
  script
    include ../public/javascripts/register.js
  .uk-section.uk-section-muted
    .uk-width-1-3.uk-position-relative.uk-position-z-index.uk-float-right.uk-margin-large-right
      .uk-card.uk-card-default.uk-card-body
        form#form.uk-grid.uk-grid-small(method="post" action='/register_order' uk-grid)
          legend.uk-legend Найти мастера
          p.uk-text-media Здесь Вы можете сделать заказ на стрижку, маникюр, педикюр и другие услуги по уходу за собой
          .uk-width-1-1
            //- label.uk-margin-remove-bottom Выберите услугу:
            select.uk-input(type="text" placeholder="Я хочу сделать..." name="OrderName" required)
              each val, i in uslugi
                optgroup(label=val.name value=uslugi[i].id placeholder="Выберите услугу")
                  option Выберите услугу
                  each val, j in uslugi[i].sub_cat
                    option(value=val.id)=val.name
          label.uk-width-1-1 Выберите дату и время:
          .uk-width-1-2.uk-margin-remove-top
            .uk-inline
              input.uk-input(type="text" placeholder="Дата" data-toggle="datepicker" name="OrderDate")
              span.uk-form-icon.uk-form-icon-flip(uk-icon="icon:calendar")
          .uk-width-1-2.uk-margin-remove-top
            .uk-inline
              span.uk-form-icon.uk-form-icon-flip(uk-icon="icon:time")
              select.uk-form-width-medium.uk-select(placeholder="Время" name="OrderTime")
                -for(var t = 8; t < 23; t++){
                option= t + ':00'
                -}
          label.uk-margin-top.uk-width-1-1 Немного о себе:
          .uk-width-1-2.uk-margin-remove-top
            input.uk-input.uk-input-large(type="text" placeholder="Имя" name="FirstName" )        
          .uk-width-1-2.uk-margin-remove-top
            input.uk-input.uk-input-large(type="text" placeholder="Фамилия" name="LastName" )
          .uk-width-1-1
            input.uk-input(type="text" placeholder="Телефон" name="PhoneNumber" value="+7")      
          .uk-width-1-1
            input.uk-input(type="text" placeholder="Эл. почта" name="Email" )
          .uk-width-1-1
          label.uk-margin-large-right Место встречи с мастером: 
          label.uk-margin-remove-top.uk-margin-right #[input.address.uk-radio(type="radio" name="place" value="client" checked="checked")] у меня
          label.uk-margin-remove-top #[input.uk-radio(type="radio" name="place" value="master")] у мастера
          #address.uk-width-1-1
            select#city.uk-select.uk-width-1-2(name="city" default="Вронеж")
              option Воронеж
              option Бобров
              option Богучар
              option Бутурлиновка
              option Калач
              option Лиски
              option Нововоронеж
              option Новохопёрск
              option Острогожск
              option Павловск
              option Поворино
              option Россошь
              option Семилуки
              option Эртиль    
            select#my_region.uk-select.uk-width-1-2(name="district")
              option Железнодорожный
              option Коминтерновский
              option Левобережный
              option Ленинский
              option Советский
              option(selected="selected") Центральный
          #about.uk-width-1-1
            textarea.uk-textarea(rows="3" placeholder="Опишите подробнее заказ")
          .uk-width-1
            button.uk-button(type="submit") Дальше
    .uk-panel
      ul#slides
        h3.uk-heading-primary.uk-text-left.uk-padding.uk-padding-remove-top Вся индустрия красоты <br><b>здесь и сейчас
      .uk-section.uk-height-large.uk-section-large.uk-section-cover(style="height:600px; background-position: right top; background-image: url(/images/industry.jpg)")
      
  .uk-section-large
    .uk-container
      .uk-child-width-expand(uk-grid)
        .uk-card.uk-card-body
          h3 Волосы
          p все, что необходимо по уходу за волосами, прически, стрижки, окраска
        .uk-card.uk-card-body
          h3 Ногти
          p от маникюра до педикюра, от гель-лака до массажа стоп
        .uk-card.uk-card-body
          h3 Тело
          p депиляция, инновации, Spa-процедуры, массаж
        .uk-card.uk-card-body
          h3 Косметология
          p красивые брови, макияж и долгие свежесть и молодость
  .uk-section-expand

  #login_modal(uk-modal)
    .uk-modal-dialog
        .uk-modal-body
          h2.uk-modal-title Вход
          
          form(method="post" action='/login')
            fieldset.uk-fieldset
              .uk-margin
                input#username.uk-input(type="text" name="username" placeholder="Имя пользователя")
              .uk-margin
                input.uk-input(type="password" value='' name="password" placeholder="Пароль")
              button.uk-margin-right.uk-button.uk-button-secondary(type="submit") Вход
            h3 #{error}
